 <div class="Lasttext">
        <p><span class="Sname">The Italians</span><br>
        <br>Mon – Sun 12:00 – 23:00<br>+302610424227<br>
            
        </p>
    </div>

    <div class="Insta">
        <a href="https://www.instagram.com/_katheeriin_/">
        <img src="images/insta.png" alt="Instagram Logo">
        </a>
    </div>

    <footer class="Footer">
        <p>The Italians Wine Food</p>
        <p>Ellinos Striatiotou 9, Patra
            <br>Mon – Sun 12:00 – 23:00<br>+302610424227<br>
            <a href="mailto:marylebone@theitalians.co.uk.">marylebone@theitalians.co.uk.</a>
            
        </p>
    </footer>