    <div class="Background">
        <img src="images/background.jpeg" alt="Background">
        <div class="Text">
            <p>Welcome to our community of italian fine foods enthusiasts</p>
        </div>
    </div>

    <div class="Midtext forPc">
        <p>We enjoy creating a community of passionate people, in<br>
            which customers, producers and staff can share an<br>
            appreciation for quality Italian gastronomy and wine. Thanks<br>
            to the union of these three groups in our stores, life will taste<br>
            better.
        </p>
    </div>

<!--Font Awesome CDN-->   
<div class = 'HomeContainer'>
<div class="Midtext">
        <div class = 'VisiblePar forPc'>
            
            
        </div>

        <div class = 'VisiblePar forPc'>
            <p>
                These are our specialties
            </p>
        </div>
        
        <div class = 'forPhone'>
            
            <p class="hidden-text">We enjoy creating a community of passionate people, in which customers, producers and staff can share an
                appreciation for quality Italian gastronomy and wine. Thanks
                to the union of these three groups in our stores, life will taste
                better.<br><br><br>These are our specialties
            </p>
            
            <img src ='/images/pizza.png' >
            <br>
            <img src ='/images/dish3.jpg' >
            <br>
            <img src ='/images/dish4.jpg' >
            <br>
            <img src ='/images/dish5.jpg' >
            <br>
            <img src ='/images/parmezan.png' >
            <br>
            
        </div>
</div>
</div>



    <div class="container forPc">
        <div class="slide">
            <div class="item" style="background-image: url(/images/pizza.png);">
                <div class="content">
                    <div class="name">The original recipe</div>
                    <div class="des">Taste the original italian Marghareta in the way of our ancestors</div>
                    <!-- <button>See More</button> -->
                </div>
            </div>
            <div class="item" style="background-image: url(/images/parmezan.png);">
                <div class="content">
                    <div class="name">Spaghetti Italiano</div>
                    <div class="des">Cooked in parmesan cheese</div>
                    <!-- <button>See More</button> -->
                </div>
            </div>
            <div class="item" style="background-image: url(/images/dish5.jpg);">
                <div class="content">
                    <div class="name">Tiramisu</div>
                    <div class="des">More than a dessert</div>
                    <!-- <button>See More</button> -->
                </div>
            </div>
            <div class="item" style="background-image: url(/images/dish4.jpg);">
                <div class="content">
                    <div class="name">Lasagna</div>
                    <div class="des">You don't have to be a cat to enjoy them</div>
                    <!-- <button>See More</button> -->
                </div>
            </div>
            <div class="item" style="background-image: url(/images/dish3.jpg);">
                <div class="content">
                    <div class="name">Carbonara</div>
                    <div class="des">True italian taste</div>
                    <!-- <button>See More</button> -->
                </div>
            </div>
        </div>
        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <hr style=" margin-right:auto; width: 60%; ">


