<div class = "TheMenu">
    <div class="Container1">
        <div class="Food-menu">
            <ul>
                <li class="header"><strong>assagi</strong>│snacks</li>
                <li class="sub-option"><div class="l">Taralli pugliesi</div>  <div class="r">£ &nbsp;&nbsp;4.90</div></li>
                <li class="sub-option"><div class="l">Cerignola olives</div> <div class="r">£ &nbsp;&nbsp;4.90</div></li>
                <li class="sub-option"><div class="l">Truffle crisps</div> <div class="r">£ &nbsp;&nbsp;5.90</div></li>
                <br><hr>
                <li class="header"><strong>cicchetti veneziani</strong>│venetian tapas</li>
                <li class="sub-option"><div class="l">Selection of 3 cicchetti</div> <div class="r">£ &nbsp;&nbsp;6.90</div></li>
                <li class="sub-option"><div class="l">Selection of 6 cicchetti</div> <div class="r">£ &nbsp;&nbsp;9.90</div></li>
                <li class="sub-option"><div class="l">Selection of 12 cicchetti</div> <div class="r">£ 12.90</div></li>
                <br><hr>
                <li class="header"><strong>piccoli assaggi</strong>│small plates</li>
                <li class="sub-option"><div class="l">Focaccia & dips</div> <div class="r">£ 15.90</div></li>
                <li class="ingred">Basil pesto, Stracciatella, Nduja</li>
                <li class="sub-option"><div class="l">Caprese Salad</div> <div class="r">£ 15.90</div></li>
                <li class="ingred">Sicilian tomatoes, buffalo Mazzarella, basil</li>
                <li class="sub-option"><div class="l">Artichoke Salad</div> <div class="r">£ 15.90</div></li>
                <li class="ingred">Artichokes, spinach, Parmigiano shavings</li>
                <li class="sub-option"><div class="l">Burrata & sun dried tomatoes</div> <div class="r">£ 16.90</div></li>
                <li class="sub-option"><div class="l">Breasaola with rocket, Parmigiano & truffle</div> <div class="r">£ 18.90</div></li>
                <br><hr>
                <li class="header"><strong>taglieri di formaggi</strong>│cheese boards</li>
                <li class="sub-option"><div class="l">Classico</div> <div class="r">£ 19.90</div></li>
                <li class="ingred">Parmigiano Reggiano 36 months, buffalo Mazzarella,creamy Gorgonzola,Fontina Jotaz</li>
                <li class="sub-option"><div class="l">Montagna</div> <div class="r">£ 16.90</div></li>
                <li class="ingred">Piramidino Tino Paiolo, Fontina Jotaz, Gran bracum stagionato Lüch da Pcei</li>
                <li class="sub-option"><div class="l">Sud Italia</div> <div class="r">£ 19.90</div></li>
                <li class="ingred">Pecorino Caggiano Summo, smoked buffalo Scamorza, aged Provolone Querceta, Burratina</li>
                <li class="sub-option"><div class="l">Crazy</div> <div class="r">£ 23.90</div></li>
                <li class="ingred">Muretino with truffle Tino Paiolo, Bonfiore Bartiotti,spicy Gorgonzola, Parmigiano Reggiano 36 months</li>
                <li class="sub-option"><div class="l">Big Eaters</div> <div class="r">£ 29.90</div></li>
                <li class="ingred">Parmigiano Reggiano 36 months, Fontina Jotaz, smoked Scamorza, Bonfiore Bartiotti, buffalo mozzarella, Muretino with truffle Tino Paiolo</li>
                <br><hr>
                <li class="header"><strong>crostone tostato</strong>│toasted bread</li>
                <li class="sub-option"><div class="l">Pomodoro & buffalo Mozzarella</div> <div class="r">£ 11.90</div></li>
                <li class="sub-option"><div class="l">Parma ham £ buffalo Moazzarella</div> <div class="r">£ 12.90</div></li>
                <li class="sub-option"><div class="l">Mortadella, Burrata & Pistacchio pesto</div> <div class="r">£ 12.90</div></li>
                <li class="sub-option"><div class="l">Prosciutto Cotto, Fontina & Truffle cream</div> <div class="r">£ 14.90</div></li>
                <br><hr>
                <li class="header"><strong>bruschetta</strong>│bruschetta</li>
                <li class="sub-option"><div class="l">Bruschetta Classica tomatoes & basil</div> <div class="r">£ &nbsp;&nbsp;9.90</div></li>
                <li class="sub-option"><div class="l">Bruschetta Classica with mozzarella</div> <div class="r">£ 11.90</div></li>
                <li class="sub-option"><div class="l">Bruschetta Nduja & burrata</div> <div class="r">£ 11.90</div></li>
            </ul>
        </div>
        
        <div class="Food-image">
            <img src="images/foodmenu.jpeg" alt="Food Menu Image">
        </div>
    </div>

    <div class="Container2">
        <div class="Wine-menu">
            <ul>
                <li class="header-ml"><div><strong>bianchi</strong>│white wines</div> <div class="r">125 ml</div></li>
                <li class="sub-option"><div class="l">Etna Bianco Ginestra</div> <div class="r">£ 11.00</div></li>
                <li class="ingred">Calcagno, Sicilia, 2022</li>
                <li class="sub-option"><div class="l">Roero Arneis</div> <div class="r">£ 12.00</div></li>
                <li class="ingred">Cornarea, Piemonte, 2022</li>
                <li class="sub-option"><div class="l">Sauvignon Blanc</div> <div class="r">£ 12.00</div></li>
                <li class="ingred">Primosic, Friuli-Venezia Giulia, 2022</li>
                <li class="sub-option"><div class="l">Pinot grigio</div> <div class="r">£ 12.00</div></li>
                <li class="ingred">Bertiolo, Friuli-Venezia Giulia, 2021</li>
                <li class="sub-option"><div class="l">Pinot bianco Klaser riserva</div> <div class="r">£ 12.00</div></li>
                <li class="ingred">Niklas, Alto Adige, 2020</li>
                <br><hr>
                <li class="header-ml"><div><strong>rossi</strong>│red wines</div> <div class="r">125 ml</div></li>
                <li class="sub-option"><div class="l">Dolcetto di Dogliani Papà celso</div> <div class="r">£ 11.00</div></li>
                <li class="ingred">Abbona, Piemonte, 2021</li>
                <li class="sub-option"><div class="l">Nebbiolo Langhe</div> <div class="r">£ 12.00</div></li>
                <li class="ingred">Attilio Ghisolfi, Piemonte, 2021</li>
                <li class="sub-option"><div class="l">Civitella Rosso</div> <div class="r">£ 13.00</div></li>
                <li class="ingred">Sergio Mottura, Lazio, 2021</li>
                <li class="sub-option"><div class="l">Rosso di Montalcino</div> <div class="r">£ 14.00</div></li>
                <li class="ingred">San Polino, Toscana, 2021</li>
                <li class="sub-option"><div class="l">Sito Moresco Langhe Rosso</div> <div class="r">£ 17.00</div></li>
                <li class="ingred">Gaja, Piemonte, 2015</li>
                <li class="sub-option"><div class="l">Amarone della Valpolicella</div> <div class="r">£ 18.00</div></li>
                <li class="ingred">Begali, Veneto, 2019</li>
                <br><hr>
                <li class="header"><strong>aperitivo</strong>│aperitifs</li>
                <li class="sub-option"><div class="l">Americano</div> <div class="r">£ 10.00</div></li>
                <li class="ingred">Campari, Red Vermouth, soda water</li>
                <li class="sub-option"><div class="l">Aperol Spritz</div> <div class="r">£ 11.00</div></li>
                <li class="ingred">Aperol, Prosecco, soda water</li>
                <li class="sub-option"><div class="l">Campari Spritz</div> <div class="r">£ 11.00</div></li>
                <li class="ingred">Campari, Prosecco, soda water</li>
                <li class="sub-option"><div class="l">Negroni Sbagliato</div> <div class="r">£ 11.00</div></li>
                <li class="ingred">Campari, Red Vermouth, Prosecco</li>
                <li class="sub-option"><div class="l">Negroni</div> <div class="r">£ 12.00</div></li>
                <li class="ingred">Gin, Campari, Red Vermouth</li>
            </ul>
        </div>

        <div class="Wine-image">
            <img src="images/winemenu.jpeg" alt="Wine Menu Image">
        </div>
    </div>
</div>
